---
import BaseLayout from '../../layouts/BaseLayout.astro'
import SectionBlog from '../../components/sections/SectionBlog.astro';

// 
import { getCollection } from "astro:content";

// Get all unique tags from all posts 
const allPosts = await getCollection("blog");
const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

const pageTitle = "Tags Index"
---
<BaseLayout pageTitle={ pageTitle }>

    <!-- <SectionBlog /> -->

    <!--
  	<div class="max-w-6xl px-4 mx-auto">
      <h1 class="mb-8 text-3xl font-bold text-gray-900">{pageTitle}</h1>
    </div>
    <ul class="tags">
        { uniqueTags.map( (tag) => (
            <li><a class="tag" href={`/tags/${tag}`}>{tag}</a></li>   
        ) ) }
    </ul>
    -->

<div class="py-24 bg-gray-900 sm:py-32">
  <div class="px-6 mx-auto max-w-7xl lg:px-8">
    <div class="grid items-center grid-cols-1 gap-x-8 gap-y-16 lg:grid-cols-2">
      <div class="w-full max-w-xl mx-auto lg:mx-0">
        <h2 class="text-4xl font-semibold tracking-tight text-white text-pretty sm:text-5xl">
          { pageTitle }
        </h2>
        <p class="mt-6 text-gray-300 text-lg/8">
          Click a tag on the right to see all posts tags with that keyword. 
        </p>
      </div>
      <ul class="grid items-center w-full max-w-xl grid-cols-1 mx-auto sm:grid-cols-2 gap-y-12 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:pl-8">

        { uniqueTags.map( (tag) => (
          <li class="object-contain object-left w-full max-h-12">
            <a class="tag" href={`/tags/${tag}`}>{tag}</a>
          </li>   
        ) ) }

      </ul>
    </div>
  </div>
</div>


</BaseLayout>

<style>
  a {
    color: #00539F;
    display: block;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
  .tag:hover {
    background-color: #FFF;
  }
</style>