---
import BaseLayout from '../layouts/BaseLayout.astro'

// Atoms 
import ButtonAura from '../components/atoms/ButtonAura.astro'

// Blocks

// Sections 
import HeroSplitScreenshot from '../components/sections/HeroSplitScreenshot.astro'
import CTAGlassGlow from '../components/sections/CTAGlassGlow.astro'
import FeatureCentered2x2 from '../components/sections/FeatureCentered2x2.astro'
import BentoThreeColumn from '../components/sections/BentoThreeColumn.astro'
import Offerings from '../components/Offerings.astro'
import Path from '../components/Path.astro'
import Resources from '../components/Resources.astro'
import Reviews from '../components/Reviews.astro'
import FAQs from '../components/FAQs.astro'

// Specifics
import { Image } from 'astro:assets'  // Import Astro's Image component
import logo from '../assets/images/logo.png'  // Import the image
import avatar from '../assets/images/avatar.png'  // Import avatar image
import bentoPlaceholder from '../assets/images/placeholders/bento-03-mobile-friendly.png'  // Placeholder image

// Variables
const pageTitle = "Home Page"

---
<BaseLayout pageTitle={`Marcus Veres // Communication Mastery`}>

	<div class="relative overflow-hidden bg-gray-900 isolate">
		<svg aria-hidden="true" class="absolute inset-0 -z-10 size-full mask-[radial-gradient(100%_100%_at_top_right,white,transparent)] stroke-white/10">
			<defs>
			<pattern id="983e3e4c-de6d-4c3f-8d64-b9761d1534cc" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
				<path d="M.5 200V.5H200" fill="none" />
			</pattern>
			</defs>
			<svg x="50%" y="-1" class="overflow-visible fill-gray-800/20">
			<path d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z" stroke-width="0" />
			</svg>
			<rect width="100%" height="100%" fill="url(#983e3e4c-de6d-4c3f-8d64-b9761d1534cc)" stroke-width="0" />
		</svg>
		<div aria-hidden="true" class="absolute top-10 left-[calc(50%-4rem)] -z-10 transform-gpu blur-3xl sm:left-[calc(50%-18rem)] lg:top-[calc(50%-30rem)] lg:left-48 xl:left-[calc(50%-24rem)]">
			<div style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)" class="aspect-1108/632 w-277 bg-linear-to-r from-[#80caff] to-[#4f46e5] opacity-20"></div>
		</div>
		<div class="px-6 pt-10 mx-auto max-w-7xl lg:flex lg:px-8 lg:pt-20">
			<div class="max-w-xl mx-auto shrink-0 lg:mx-0 lg:pt-8">
				<img src="/images/logo.svg" alt="Your Company" class="h-11" />
				<div class="mt-24 sm:mt-32 lg:mt-16">
					<!-- <a href="/edicts" class="inline-flex space-x-6">
						<span class="px-3 py-1 font-semibold text-indigo-400 rounded-full bg-indigo-500/10 text-sm/6 ring-1 ring-indigo-500/25 ring-inset">What's new</span>
						<span class="inline-flex items-center space-x-2 font-medium text-gray-300 text-sm/6">
							<span>10 Edicts for Self Development</span>
							<svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="text-gray-500 size-5">
							<path d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
							</svg>
						</span>
					</a> -->
				</div>
				<h1 class="mt-10 text-5xl font-semibold tracking-tight text-white text-pretty sm:text-7xl">Express yourself authentically</h1>
				<p class="mt-8 text-lg font-medium text-gray-400 text-pretty sm:text-xl/8">
					You know what needs to change. Maybe your message isn't landing, your tech stack is holding you back, or that vision in your head won't translate to reality.
				</p>
				<p class="mt-8 text-lg font-medium text-gray-400 text-pretty sm:text-xl/8">
					Here's the thing: you're not missing talent or ideas. You're missing the bridge between "I know what I want" and "here it is, working."
That's what I do. I build that bridge.
				</p>
				<div class="flex items-center mt-10 gap-x-6">
					<ButtonAura label="Start Now" link="mailto:marcus.veres@gmail.com" />
					<a href="#buckets" class="font-semibold text-white text-sm/6">See What's Possible <span aria-hidden="true">→</span></a>
				</div>
			</div>
			<div class="flex max-w-2xl mx-auto mt-16 sm:mt-24 lg:mt-0 lg:mr-0 lg:ml-10 lg:max-w-none lg:flex-none xl:ml-32">
				<div class="flex-none w-full max-w-3xl sm:max-w-5xl lg:max-w-2xl">
					<Image
						src={avatar}
						alt="Marcus Veres"
						class="rounded-md shadow-2xl w-304 bg-white/5 ring-1 ring-white/10"
						widths={[400, 600]}
						sizes="(max-width: 640px) 400px, 600px"
						loading="eager"
					/>
				</div>
			</div>
		</div>
	</div>

    <div id="powers" class="py-12 bg-gray-900 sm:pt-20">
        <div class="max-w-2xl px-6 mx-auto lg:max-w-7xl lg:px-8">

			<!--
            <h2 class="font-semibold text-center text-indigo-400 text-base/7">Express Yourself Fully</h2>
            <p class="max-w-lg mx-auto mt-2 text-4xl font-semibold tracking-tight text-center text-white text-balance sm:text-5xl md:max-w-5xl">Building a brighter future through connection, creation and communication</p>
			-->
            <h2 class="font-semibold text-center text-indigo-400 text-base/7">Master the Forces That Shape Tomorrow</h2>
            <p class="max-w-lg mx-auto mt-2 text-4xl font-semibold tracking-tight text-center text-white text-balance sm:text-5xl md:max-w-5xl">
				Three ways I help you level up
			</p>
			
            <div class="grid gap-4 mt-10 sm:mt-16 lg:grid-cols-3">

				<!-- Humanity and Social Good -->
                <div class="relative">
                    <div class="absolute bg-gray-800 rounded-lg inset-px lg:rounded-r-4xl"></div>
                    <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-r-[calc(2rem+1px)]">
                        <div class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-0">
                            <p class="mt-2 text-lg font-medium tracking-tight text-center text-white">
								<!-- Humanity & Social Good -->
								Make Your Message Land
							</p>
                            <p class="max-w-lg mt-2 text-gray-400 text-sm/6 max-lg:text-center">
								<!-- Create positive impact through technology and community, focusing on solutions that benefit society and promote human flourishing. -->
								 You have something important to say. Let's make sure people actually hear it. Whether it's a presentation, a pitch, or your entire brand voice - I help you find the words that work.
							</p>
                        </div>
                        <div class="@container relative min-h-120 w-full grow max-lg:mx-auto max-lg:max-w-sm">
                            <div class="absolute inset-x-10 top-10 bottom-0 overflow-hidden rounded-t-[12cqw] border-x-[3cqw] border-t-[3cqw] border-gray-700 bg-gray-900 outline outline-white/20">
                                <Image src={bentoPlaceholder} alt="" class="object-cover object-top size-full" widths={[300, 400, 600]} sizes="(max-width: 640px) 300px, 400px" />
                            </div>
                        </div>
                    </div>
                    <div class="absolute rounded-lg shadow-sm pointer-events-none inset-px outline outline-white/15 lg:rounded-r-4xl"></div>
                </div>

                <!-- Technology and AI -->
                <div class="relative">
                    <div class="absolute bg-gray-800 rounded-lg inset-px lg:rounded-l-4xl"></div>
                    <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-l-[calc(2rem+1px)]">
                        <div class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-0">
                            <p class="mt-2 text-lg font-medium tracking-tight text-center text-white">
								<!-- Technology & AI -->
								Build Systems That Help
							</p>
                            <p class="max-w-lg mt-2 text-gray-400 text-sm/6 max-lg:text-center">
								Technology should solve problems, not create them. I design and build tools, apps, and websites that do what you need - without the bloat or the bullshit.
							</p>
                        </div>
                        <div class="@container relative min-h-120 w-full grow max-lg:mx-auto max-lg:max-w-sm">
                            <div class="absolute inset-x-10 top-10 bottom-0 overflow-hidden rounded-t-[12cqw] border-x-[3cqw] border-t-[3cqw] border-gray-700 bg-gray-900 outline outline-white/20">
                                <Image src={bentoPlaceholder} alt="" class="object-cover object-top size-full" widths={[300, 400, 600]} sizes="(max-width: 640px) 300px, 400px" />
                            </div>
                        </div>
                    </div>
                    <div class="absolute rounded-lg shadow-sm pointer-events-none inset-px outline outline-white/15 lg:rounded-l-4xl"></div>
                </div>

                <!-- Personal Development & Learning -->
                <div class="relative">
                    <div class="absolute bg-gray-800 rounded-lg inset-px"></div>
                    <div class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]">
                        <div class="px-8 pt-8 pb-3 sm:px-10 sm:pt-10 sm:pb-0">
                            <p class="mt-2 text-lg font-medium tracking-tight text-center text-white">
								<!-- Personal Development & Learning -->
								Develop People (Including You)
							</p>
                            <p class="max-w-lg mt-2 text-gray-400 text-sm/6 max-lg:text-center">
								I see patterns others miss. I help you spot your own potential, build your skills, and become the version of yourself that gets shit done.
							</p>
                        </div>
                        <div class="@container relative min-h-120 w-full grow max-lg:mx-auto max-lg:max-w-sm">
                            <div class="absolute inset-x-10 top-10 bottom-0 overflow-hidden rounded-t-[12cqw] border-x-[3cqw] border-t-[3cqw] border-gray-700 bg-gray-900 outline outline-white/20">
                                <Image src={bentoPlaceholder} alt="" class="object-cover object-top size-full" widths={[300, 400, 600]} sizes="(max-width: 640px) 300px, 400px" />
                            </div>
                        </div>
                    </div>
                    <div class="absolute rounded-lg shadow-sm pointer-events-none inset-px outline outline-white/15"></div>
                </div>

            </div>
        </div>
    </div>

	<div id="promise" class="flex flex-col items-center justify-center max-w-6xl px-6 pt-8 mx-auto bg-gray-900 md:flex-row lg:px-8 md:pt-20">
		<div class="relative w-full max-w-4xl overflow-hidden md:w-96 md:flex-shrink-0 bg-gray-50/10 rounded-2xl md:h-full">
			<Image
				src={avatar}
				alt="Marcus Veres"
				class="object-cover size-full"
				widths={[400, 600]}
				sizes="(max-width: 640px) 400px, 400px"
			/>
			<svg viewBox="0 0 926 676" aria-hidden="true" class="absolute -bottom-24 left-24 w-231.5 transform-gpu blur-[118px]">
			<path d="m254.325 516.708-90.89 158.331L0 436.427l254.325 80.281 163.691-285.15c1.048 131.759 36.144 345.144 168.149 144.613C751.171 125.508 707.17-93.823 826.603 41.15c95.546 107.978 104.766 294.048 97.432 373.585L685.481 297.694l16.974 360.474-448.13-141.46Z" fill="url(#60c3c621-93e0-4a09-a0e6-4c228a0116d8)" fill-opacity=".4" />
			<defs>
				<linearGradient id="60c3c621-93e0-4a09-a0e6-4c228a0116d8" x1="926.392" x2="-109.635" y1=".176" y2="321.024" gradientUnits="userSpaceOnUse">
				<stop stop-color="#776FFF" />
				<stop offset="1" stop-color="#FF4694" />
				</linearGradient>
			</defs>
			</svg>
		</div>
		<div class="relative flex justify-center item-center md:pl-20 md:flex-1">
			<div class="">
				<h2 class="font-semibold text-indigo-400 text-base/7">Award winning support</h2>
				<p class="mt-2 text-4xl font-semibold tracking-tight text-white sm:text-5xl">I'm here to help you grow</p>
				<p class="mt-6 text-gray-300 text-base/7">
					Most coaches sell you their journey. Most consultants tell you things you already know. Most developers disappear after launch.
				</p>
				<p class="mt-6 text-gray-300 text-base/7">
					I'm not doing any of that.
				</p>
				<p class="mt-6 text-gray-300 text-base/7">
					I become whatever you need right now: strategist, teacher, builder, translator, catalyst. Someone who sharpens your edge, not their own reputation.
				</p>
				<p class="mt-6 text-gray-300 text-base/7">
					Won the 30 Under 30? Yeah. Won Toastmasters competitions? Multiple times. Built things for Chase, Coca-Cola, USAF? Yep.
				</p>
				<p class="mt-6 text-gray-300 text-base/7">
					But none of that matters if I can't solve your problem.
				</p>
				<div class="flex items-center mt-10 gap-x-6">
					<ButtonAura label="Let's talk" link="mailto:marcus.veres@gmail.com" />
					<a href="#buckets" class="font-semibold text-white text-sm/6">
						See how I work <span aria-hidden="true">→</span></a>
				</div>
			</div>
		</div>
	</div>

	<Path />

	<Resources />

	<Offerings />

	<div class="pt-24 bg-gray-900 sm:pt-32">
		<div class="max-w-2xl mx-auto text-center">
			<h2 class="font-semibold text-indigo-400 text-base/7">
				Trusted by serious companies
			</h2>
			<p class="mt-2 text-4xl font-semibold tracking-tight text-white text-balance sm:text-5xl">
				I've delivered results for
			</p>
		</div>
		<div class="px-6 pt-12 mx-auto max-w-7xl lg:px-8 lg:pt-20">
			<div class="grid items-center max-w-lg grid-cols-4 mx-auto gap-x-8 gap-y-12 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 sm:gap-y-14 lg:mx-0 lg:max-w-none lg:grid-cols-5">

				<img width="158" height="48" src="/images/client-logos/logo-chase.svg" alt="JPMorgan Chase" class="object-contain w-full col-span-2 max-h-12 sm:col-start-2 lg:col-span-1" />

				<img width="158" height="48" src="/images/client-logos/logo-coca-cola.svg" alt="Coca Colo" class="object-contain w-full col-span-2 max-h-12 lg:col-span-1" />

				<img width="158" height="48" src="/images/client-logos/logo-kpmg.svg" alt="KPMG" class="object-contain w-full col-span-2 max-h-12 lg:col-span-1" />

				<img width="158" height="48" src="/images/client-logos/logo-salesforce.svg" alt="Salesforce" class="object-contain w-full col-span-2 max-h-12 lg:col-span-1" />

				<img width="158" height="48" src="/images/client-logos/logo-usaf.svg" alt="USAF" class="object-contain w-full col-span-2 col-start-2 max-h-12 sm:col-start-auto lg:col-span-1" />
				
			</div>
		</div>
	</div>

	<Reviews />

	<div class="bg-gray-900">
		<div class="pt-4 mx-auto max-w-7xl sm:px-6 sm:pt-8 lg:px-8">
			<div class="relative px-6 py-24 overflow-hidden text-center bg-gray-800 isolate after:pointer-events-none after:absolute after:inset-0 after:inset-ring after:inset-ring-white/10 sm:rounded-3xl sm:px-16 after:sm:rounded-3xl">
				<h2 class="text-4xl font-semibold tracking-tight text-white text-balance sm:text-5xl">Ready to begin?</h2>
				<p class="max-w-xl mx-auto mt-6 text-gray-300 text-lg/8 text-pretty">
					Join hundreds of happy customers. We will grow together.
				</p>
				<div class="flex items-center justify-center mt-10 gap-x-6">
					<ButtonAura label="Start Here" link="mailto:marcus.veres@gmail.com" />
					<a href="#" class="font-semibold text-white text-sm/6">
						Explore your options
						<span aria-hidden="true">→</span>
					</a>
				</div>
				<svg viewBox="0 0 1024 1024" aria-hidden="true" class="absolute top-1/2 left-1/2 -z-10 size-256 -translate-x-1/2 mask-[radial-gradient(closest-side,white,transparent)]">
					<circle r="512" cx="512" cy="512" fill="url(#827591b1-ce8c-4110-b064-7cb85a0b1217)" fill-opacity="0.7" />
					<defs>
					<radialGradient id="827591b1-ce8c-4110-b064-7cb85a0b1217">
						<stop stop-color="#7775D6" />
						<stop offset="1" stop-color="#E935C1" />
					</radialGradient>
					</defs>
				</svg>
			</div>
		</div>
	</div>

	<FAQs />

	<div class="relative overflow-hidden bg-gray-900 isolate">
		<div class="px-6 py-12 lg:pb-20 lg:pt-28 lg:px-8">
			<div class="max-w-2xl mx-auto text-center">
			<h2 class="text-4xl font-semibold tracking-tight text-white text-balance sm:text-5xl">You already know what needs to change.</h2>
			<p class="max-w-xl mx-auto mt-6 text-gray-300 text-lg/8 text-pretty">The question isn't "can I do this?"
				It's "who can help me do this faster and better?"
				That's me :)
			</p>
			<div class="flex items-center justify-center mt-10 gap-x-6">
				<ButtonAura label="Let's Talk" link="mailto:marcus.veres@gmail.com" />
				<!-- <a href="#" class="font-semibold text-white text-sm/6 hover:text-gray-300">Learn more <span aria-hidden="true">→</span></a> -->
			</div>
			</div>
		</div>
		<svg viewBox="0 0 1024 1024" aria-hidden="true" class="absolute top-1/2 left-1/2 -z-10 size-384 -translate-x-1/2 mask-[radial-gradient(closest-side,white,transparent)]">
			<circle r="512" cx="512" cy="512" fill="url(#8d958450-c69f-4251-94bc-4e091a323369)" fill-opacity="0.7" />
			<defs>
			<radialGradient id="8d958450-c69f-4251-94bc-4e091a323369">
				<stop stop-color="#7775D6" />
				<stop offset="1" stop-color="#E935C1" />
			</radialGradient>
			</defs>
		</svg>
	</div>

</BaseLayout>
